{% extends "base.html" %}
{% block content %}
     <div class = 'search' style = "padding-top: 130px;">
    <h1>Newster</h1>
    <form action="{{ url_for('search') }}" method="post" name="search">
      {{ g.search_form.hidden_tag() }}
          {{ g.search_form.search(size=40) }} 
      <input type="submit" value = 'Search'>
	
      				<div class = "radio-toolbar" id = "rad">
      				<label style = "background-color:white; padding:2px 1px;"> <h4>Method:</h4> </label>
                    <input type="radio" id = "kmeans" name="algorithm" value="kmeans" checked required>
                    <label for = 'kmeans'> Kmeans </label>
                    </input>
                    <input type="radio" id = "stc" name = "algorithm" value="stc">
                    <label for = 'stc'> STC </label>
                    </input>
                    <input type="radio" id = "fca" name = "algorithm" value="fca">
                    <label for = 'fca'> FCA </label>
                    </input>
                    <input type="radio" id = "ward" name = "algorithm" value="ward">
                    <label for = 'ward'> Ward </label>
                    
                    <input type="radio" id = "list" name = "algorithm" value="list">
                    <label for = 'list'> Standard </label> 
                    </input>
                    
                </div>
                <label style = "background-color:white; padding:0px 10px;"> <h4> Number of Clusters: </h4> </label>
                <select name = "clusters">
                {%for i in range(20)%}
                <option value="{{i + 1}}" {% if i == 9 %} selected {%endif%}>
                {{i + 1}}
                </option>
                {%endfor%}
                </select>
                </div>
            </div>
    </form>
{% endblock %}